---
layout: page
title: خلاصه‌ها و نوشته‌ها
---

<p>
    در این قسمت خلاصه‌های نوشته شده برای هر قسمت که توسط شنوندگان تهیه شده قرار خواهد گرفت.<br>
    همچنین تا حد امکان نوشته‌های تکمیلی که ممکن است به صورت پراکنده در اینترنت وجود داشته باشند نیز در این بخش تجمیع خواهند شد.
</p>

<p>
    <b>در صورتی که شما هم خلاصه‌ای برای یک قسمت تهیه کرده‌اید</b>، خوشحال میشوم با ارسال آن به ایمیل رادیو دال امکان انتشار و اشتراک آن با سایر شنوندگان را فراهم کنید. <br>
    آدرس ایمیل رادیو دال: <a href='mailto: {{ site.author.email }}'>{{ site.author.email }}</a>
</p>


{% for summary in site.data.summaries %}
    <h3>خلاصه قسمت {{ summary[1].title }}</h3>
    {% assign summaries = summary[1].list %}
    {% include add_summary.html %}
{% endfor %}
