---
layout: default
title: Home
---

{% if page.url == "/" %}
<div class="intro center">
  <h2>
  به رادیو دال خوش آمدید!

  </h2>
    
  <small>
  <p>
      
    در این پادکست آرش با دوستان خود راجع به زندگی در جاهای مختلف دنیا و داستان‌ها و تجربیات آنها صحبت میکند. (<a href="{% link intro.md %}">پادکست چیست؟</a>)

  </p>

  <p>
    <div class="header-nav">
    <ul>
      <li><a href="{{ site.baseurl }}/archive">آرشیو</a></li>
      <li>|</li>
      <li><a href="{{ site.baseurl }}/faq">سوالات متداول</a></li>
      <li>|</li>
      <li><a href="{{ site.baseurl }}/donation">حمایت مالی</a></li>
    </ul>
  </div>
  </p>
  
  {%include badges.html %}  
  
</small>
</div>

<hr>

{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post" {% if post.categories contains "english" %}dir="ltr"{% endif %}>
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {% if post.categories contains "english" %}
      {{ post.date | date: "%A %d %b %Y" }}
      {% else %}
      {{ post.date | jdate: "%A %d %b %Y" }}
      {% endif %}
    </span>
    {% if post.cover %}
    <img src="{{ post.cover }}" class="cover-img"/>
    {% endif %}
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}">{% if post.categories contains "english" %}More ...{% else %}توضیحات بیشتر ...{% endif %}</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">قبلی‌ها</a>
  {% else %}
    <span class="pagination-item older">قبلی‌ها</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">بعدی‌ها</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">بعدی‌ها</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">بعدی‌ها</span>
  {% endif %}
</div>

<small>

  <div style="text-align: center;">
  برای اطلاع از آخرین اخبار، <a href="https://virgool.io/@radioDaal/">وبلاگ</a> و یا رادیو دال در شبکه‌های اجتماعی را دنبال کنید.

  <div id="mc_embed_signup">
    <form dir="ltr" action="//partalk.us15.list-manage.com/subscribe/post?u=03d2436c1809de4a80a7bba9f&amp;id=4c0bfb5c97" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
      <input style="font-family: dana, Arial;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="آدرس ایمیل" required="" />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_03d2436c1809de4a80a7bba9f_4c0bfb5c97" tabindex="-1" value="" /></div>
        <div class="clear"><input style="font-family: dana, Arial;" type="submit" value="ثبت نام" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
        </div>
    </form>
  </div>

  {% include socials.html %} 
  <p style="padding-top: 2em;">
    ساخته شده توسط آرش طاهر - <a href="{{ site.baseurl }}/contact">تماس با من</a>
  </p>
</div>
</small>

  
<!--<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"03d2436c1809de4a80a7bba9f","lid":"4c0bfb5c97"}) })</script>-->