.intro {
    background: rgba(106,158,180,0.2);
    padding: 40px 24px 48px;
}

.center {
    text-align: center;
}

.image-line {
    display: flex;
    justify-content:
    space-around; flex-wrap: wrap;
}