<div class="image-line">
    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9yYWRpb2RhYWwuaXIvcG9kY2FzdC5yc3M%3D"><img style="width: 160px;" src="/public/img/google_podcasts_badge_svg.svg"></a>
    <a href="https://itunes.apple.com/us/podcast/%D8%B1%D8%A7%D8%AF%DB%8C%D9%88-%D8%AF%D8%A7%D9%84/id1268317148?mt=2"><img src="/public/img/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"></a>
    <a href="https://open.spotify.com/show/3ZDTVdIiojTh2nbwfvRv4N?si=-42sQsM7S5Sz1GC5ReXtBw"><img src="/public/img/spotify-podcast-badge-wht-grn-165x40.svg"></a>
  </div>