<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">صفحه نخست</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>-->
    <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>-->
    <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    <span class="sidebar-nav-item">
    <div style="display: flex; justify-content: space-around;">      
    <a href="https://t.me/radioDaal" target="_blank"><span class="icon-telegram"></span></a>
    <a href="https://twitter.com/radioDaal" target="_blank"><span class="icon-twitter2"></span></a>
    <a href="https://www.facebook.com/radioDaal" target="_blank"><span class="icon-facebook2"></span></a>
    <a href="https://instagram.com/radioDaal" target="_blank"><span class="icon-instagram2"></span></a>
    <a href="https://soundcloud.com/arashthr/sets/radio-daal" target="_blank"><span class="icon-soundcloud2"></span></a>
    <a href="https://arashthr.github.io/radioDaal/podcast.rss" target="_blank"><span class="icon-rss22"></span></a>
    </div>
    </span>
    
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. انتشار مطالب بدون ذکر منبع کار درستی نیست.
    </p>
  </div>
</div>
