.intro {
    background: rgba(170,117,159,0.3);
    padding: 40px 24px 48px;
}

.center {
    text-align: center;
}

.image-line {
    display: flex;
    justify-content:
    space-around; flex-wrap: wrap;
}

.header-logo {
    height: 50px;
    width: auto;
}