.intro {
    background: rgba(108,159,180,0.3);
    padding: 40px 24px 48px;
}

.center {
    text-align: center;
}

.image-line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-logo {
    height: 50px;
    width: auto;
}

audio {
    width: 50%;
}

blockquote {
    padding-left: 5rem;
    padding-right: 1.25rem;
    border-right: .25rem solid #e5e5e5;
    border-left: 0;
}

.cover-img {
    height: 250px;
    border-radius: 45px;
}

.post {
    text-align: justify;
}

@media (max-width: 600px) {
    .cover-img {
        margin: auto;
    }
}
@media (min-width: 600px) {
    .cover-img {
        float: left;
        margin: 0px 20px 10px 0px;
    }
}

.blubrry-player {
    margin: 10px 0px 10px 0px;
}