body {
    font-size: 16px;
    line-height: 2;
}

.intro {
    background: rgba(253, 218, 81, 0.2);
    padding: 10px 24px 28px;
}

.center {
    text-align: center;
}

.image-line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-logo {
    height: 50px;
    width: auto;
}

audio {
    width: 50%;
}

blockquote {
    padding-left: 5rem;
    padding-right: 1.25rem;
    border-right: .25rem solid #e5e5e5;
    border-left: 0;
}

.cover-img {
    height: 250px;
    border-radius: 45px;
}

.post {
    text-align: justify;
}

@media (max-width: 600px) {
    .cover-img {
        margin: auto;
    }
}
@media (min-width: 600px) {
    .cover-img {
        float: left;
        margin: 0px 20px 10px 0px;
    }
}

/* Purple */
.theme-base-1a .sidebar,
.theme-base-1a .sidebar-toggle:active,
.theme-base-1a #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #2b58af;
  font-size: 0.7rem;
}
.theme-base-1a .container a,
.theme-base-1a .sidebar-toggle,
.theme-base-1a .related-posts li a:hover {
  color: #2b58af;
}

.svg-badge > a > img{
    width: 165px;
    height: 40;
}

.social-logo {
    display: flex;
    justify-content: center;
}

.social-logo > a > img {
    margin: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
}

.content {
    text-align: justify;
}

.mobileShow { display: none;}
.mobileHide { display: inline; }

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-width : 320px)
  and (max-width : 480px){
   .mobileHide { display: none; }
   .mobileShow { display: inline; }

   body {
    font-size: 0.9em;
   }
}
