---
layout: default
---

<div class="post" {% if page.categories contains "english" %} dir="ltr" {% endif %}>
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {% if page.categories contains "english" %}
    {{ page.date | date: "%A %d %b %Y" }}
    {% else %}
    {{ page.date | jdate: "%A %d %b %Y" }}
    {% endif %}
  </span>

  {% if page.cover %}
  <img src="{{ page.cover }}" class="cover-img"/>
  {% endif %}

  {{ content }}

  {% include add_summary.html %}

<p>
{% if page.categories contains "english" %}
Listen to this episode using the links below or download it directly from <a href="https://dts.podtrac.com/redirect.mp3/{{page.file}}">here</a>.
{% else %}
 به این قسمت گوش دهید (<a href="{{site.baseurl}}/intro#چطور-به-پادکست-گوش-بدم">چطور؟</a>) و یا مستقیما <a href="https://dts.podtrac.com/redirect.mp3/{{page.file}}">دانلود</a> کنید:
{% endif %}
</p>

  {% include player.html %}
  {% include badges.html %}
  {% include donation.html %}
</div>

<div class="related">
  <h2>قسمت‌های دیگر</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | jdate: "%A %d %b %y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include socials.html %}
