---
layout: default
---
{% assign post_data = site.data.summaries[page.episode_name] %}

<div class="post" {% if page.categories contains "english" %} dir="ltr" {% endif %}>

  <h1 class="post-title"><a href="{{ site.baseurl }}/summaries">خلاصه‌ها و نوشته‌ها</a></h1>
  <h2><a href={% link _posts/{{ post_data.refer }} %}>{{ post_data.title }}</a> - نوشته شده توسط {{ page.author }}</h2>
  <hr>

  <img src="{{ site.baseurl }}{{ post_data.cover }}" class="cover-img"/>
  {{ content }}

  <hr>

  <p>
  {% if page.categories contains "english" %}
  Listen to this episode using the links below or download it directly from <a href="https://dts.podtrac.com/redirect.mp3/{{page.file}}">here</a>.
  {% else %}
  به این قسمت گوش دهید. (<a href="{{site.baseurl}}/intro#چطور-به-پادکست-گوش-بدم">چطور؟</a>)<br>
  برای توضیحات بیشتر به پست مربوط به این قسمت مراجعه کنید: <a href={% link _posts/{{ post_data.refer }} %}>{{ page.title }}</a>
  {% endif %}
  </p>

  {% include badges.html %}
  {% include donation.html %}

</div>

{% include socials.html %}
